<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Professor</title>
</head>

<body>
	
	<div class="container" style="text-align: center;">
		<style>
		body {
		        background-color: #dce3e3;
		        font-family: Arial, sans-serif;
		        color: #333;
		        font-size: 16px;
		}
		
		.container form {
			    display: flex;
			    flex-direction: column;
			    align-items: center;
		}
		</style>
	
		<h3>Professor Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Professor </p>
	
		<form th:action="@{/professor/save}"
						 th:object="${professor}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{professorId}" />
			<input type="hidden" th:field="*{username}" />
			
			<label for="firstName">First Name</label>
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First name">

			<label for="lastName">Last Name</label>
			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Last name">

			<label for="specialty">Specialty</label>
			<input type="text" th:field="*{specialty}"
					class="form-control mb-4 col-4" placeholder="Specialty">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/professor/dashboard}">Go back to Professor's Dashboard</a>
		
	</div>
</body>

</html>